/*BODY TAG*/
.body-high {
    background-color: #B5B5B5;
    color:#000000;
}

/*NAVIGATION  CONTAINER*/
.nav-high{
    border-bottom: solid 1.5px #000;
}

.border-high {
    border: solid 1.5px #000;
}

.table-high {
    border: solid 1.5px #000;
}


/*INFO and DELETE*/
.btn-danger-high {
    color: #fff;
    background-color: #AE191B;
    border-color: #AE191B;
}

.btn-info-high {
    color: #fff;
    background-color: #6E1EE6;
    border-color: #6E1EE6;
}



/*SEARCH and FILTER*/
#btnSearch, #btnFilter {
    color: #fff;
    background-color: #1B6AFE;
    border-color: #1B6AFE;
}

#btnSearch:hover, #btnFilter:hover {
    color: #fff;
    background-color: #0152E9;
    border-color: #0152E9;
}

#btnSearch.btn-search-high, #btnFilter.btn-search-high {
    color: #fff;
    background-color: #014BD5;
    border-color: #014BD5;
}

#btnSearch.btn-search-high:hover, #btnFilter.btn-search-high:hover {
    color: #fff;
    background-color: #012F84;
    border-color: #012F84;
}


/*CLEAR button*/
#btnClear, .btn-dependent-page {
    color: #fff;
    background-color: #F07000;
    border-color: #F07000;
}

#btnClear:hover, .btn-dependent-page:hover {
    color: #fff;
    background-color: #D16200;
    border-color: #D16200;
}

#btnClear.btn-clear-high, .btn-dependent-page.btn-dependent-high {
    color: #fff;
    background-color: #BD5800;
    border-color: #BD5800;
}

#btnClear.btn-clear-high:hover, .btn-dependent-page.btn-dependent-high:hover {
    color: #fff;
    background-color: #7A3900;
    border-color: #7A3900;
}

/*CREATE BUTTON*/
#btnCreate {
    color: #fff;
    background-color: #777718;
    border-color: #777718;
}

#btnCreate:hover {
    color: #fff;
    background-color: #656515;
    border-color: #656515;
}

#btnCreate.btn-create-high {
    color: #fff;
    background-color: #5C5B05;
    border-color: #5C5B05;
}

#btnCreate.btn-create-high:hover {
    color: #fff;
    background-color: #3C3C07;
    border-color: #3C3C07;
}

/*LOGOUT BUTTON*/
#btnLogout.btn-logout-high {
    color: #fff;
    background-color: #DC3545;
    border-color: #DC3545;
}

#btnLogout.btn-logout-high:hover {
    color: #fff;
    background-color: #C72334;
    border-color: #C72334;
}